In [1]:

"""
open source library provide high-perfromance data manuplation

panda provide two data structure for processing

Series : One dimension arry  , row lebels of series are called index
DataFrame: It can be any list, scalarr or dict value

"""

import pandas as pd
import numpy as np

In [5]:

info = np.array(['p','a','n','d','a','s'])

info

array(['p', 'a', 'n', 'd', 'a', 's'], dtype='<U1')

In [11]:
a = pd.Series(info)

print(a[0] , "\n\n\n", a)

p


 0    p
1    a
2    n
3    d
4    a
5    s
dtype: object

In [13]:
print(pd.Series([1,2,3,[1,1,1]]))

0            1
1            2
2            3
3    [1, 1, 1]
dtype: object

In [16]:
print(pd.Series({'test1':1,"test2":2}))

test1    1
test2    2
dtype: int64

In [18]:
#datafram

name = ['Sujeet', 'Ramesh', 'Rajoo']


df = pd.DataFrame(name)

print(df)

#row index and column index both are there in dataframe

        0
0  Sujeet
1  Ramesh
2   Rajoo

In [20]:
people ={
    
    "first" : ["sujeet",'Ramesh'],
    "last": ["singh",'kumar'],
    "email": ["sujeet.kumar@abc.com", 'ramesh@gmail.com']
    
}

df = pd.DataFrame(people)
print(df)

    first   last                 email
0  sujeet  singh  sujeet.kumar@abc.com
1  Ramesh  kumar      ramesh@gmail.com

In [23]:


x = pd.Series()

print(x)

Series([], dtype: float64)

C:\Users\sujee\AppData\Local\Temp\ipykernel_10544\2999904499.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x = pd.Series()

In [34]:

info = {'z':10, 'x':20, 'y':15}

d = pd.Series(info)

print(d)

z    10
x    20
y    15
dtype: int64

In [37]:
d = pd.Series(4, index=[0,1,2,3])

print(d)

"""data, index, dtype, copy"""

0    4
1    4
2    4
3    4
dtype: int64

'data, index, dtype, copy'

In [40]:
d = pd.Series([1,2,3], index=['a','b','c'])

print(d)

a    1
b    2
c    3
dtype: int64

In [44]:
d.index
d.shape
d.dtype
d.size

3

In [45]:
d.empty

False

In [48]:
d.index

Index(['a', 'b', 'c'], dtype='object')

In [50]:
d.values

array([1, 2, 3], dtype=int64)

In [66]:
a = pd.Series([1,'hello'])

print(a.dtype, a.index, a.shape)

object RangeIndex(start=0, stop=2, step=1) (2,)

In [78]:



a = pd.Series(['Java', 'C', 'C++', 'python'])



t = a.map({'Java': 'Core'})

print(t)

a.map("i like {}".format)

0    Core
1     NaN
2     NaN
3     NaN
dtype: object

0      i like Java
1         i like C
2       i like C++
3    i like python
dtype: object